body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02C39A;
    height: 1200;
}
.container {
 
    margin-right: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #02C39A;
}

.left{
    text-align: center;
    margin-left: 25px;
    background-color: #00A896;
    border: 3px solid;
    padding: 45px;
}

.shop {
    flex-direction: column;
    background-color: #00A896;
    border-style: solid;
    border-color: black;
    width: 500px;
    overflow: scroll;
}

.shop_title {
    border: solid;
    border-color: black;
}

.building img {
    width: 50px;
    height: 50px;
}

#cursor_img {
    height: 55px;
}

#cursor_upgrade_img {
    width: 50px;
    height: 55px;
}

.shop_title {
    text-align: center;
}

.building {
    border-style: solid;
    border-color: black;
    padding-left: 50px;
}