#cursor_img {
    width: 50px;
    height: 50px;
}

#bucket_img {
    width: 60px;
    height: 60px;
}

#soda_river_img {
    width: 50px;
    height: 50px;
}

#brewery_img {
    width: 50px;
    height: 50px;
}

#soda_lake_img {
    width: 50px;
    height: 50px;
}

#alchemy_lab_img {
    width: 50px;
    height: 50px;
}

#soda_ocean_img {
    width: 50px;
    height: 50px;
}

body {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     background-color: #53D8AE;
}
.container {
    margin-right: 800px;
    margin-left: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #02C39A;
}

.shop {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 50px;
    background-color: #00A896;
    border-style: solid;
    border-color: #028090;
}

.shop_title {
    text-align: center;
}

.brewery_building {
    border-style: solid;
    border-color: #028090;
}